<?xml version='1.0' encoding='utf-8'?>
<widget id="com.krakow.uek.CityLive" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CityLive</name>
    <description>
        Appliction that get nearby attractions
    </description>
    <author email="piotrek.slawek@gmail.com" href="https://mdynowska.github.io/CityLive/">
        UEK Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="2.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="2.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="2.4.3" />
    <plugin name="cordova-plugin-whitelist" spec="*" />
    <plugin name="cordova-plugin-request-location-accuracy" spec="*" />
    <plugin name="cordova.plugins.diagnostic" spec="*" />
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.2" />
    <plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <plugin name="cordova-plugin-facebook4" spec="^2.4.0">
        <variable name="APP_ID" value="575313776172465" />
        <variable name="APP_NAME" value="CityLive" />
        <variable name="ANDROID_SDK_VERSION" value="4.+" />
    </plugin>
    <engine name="android" spec="^7.0.0" />
</widget>
